@import './kt.css';
@import './customiz.css';

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 1em;
}

:root {
    --gray-back: #EFEFEF;
    --blue-text: #238FD9;
    --dark-gray: #D8D9D9;
    --blue0line: #3C9DE0
}

.row {
    display: flex;
    align-items: center;
}
