/* Разметка раздела */
.kt {
    height: 100%;
    display: grid;
    grid-template-columns: 127px 1fr;
    grid-template-rows:  40px 1fr;
    grid-template-areas:  'header header' 'nav section';
}

header {
    background: #EFEFEF;
    height: 40px;
    width: 100%;
    position: fixed;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

/* end Разметка раздела */


/* Левое меню*/
.nav-menu {
    margin: -1px;
}

.nav-menu > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFEFEF;
    padding: 8px 0;
    height: 65px;
    border-bottom: 1px solid #DDDEDE;
    font-size: 15px;
    cursor: pointer;
}

.nav-menu > span:hover {
    background: #f5f5f5;
}

.nav-menu .active {
    background: white;
}

/* end Левое меню*/
